<div fxLayout="row" fxLayoutAlign="center center" class="container">
  <md-card>
    <form>
      <md-card-header>
        <md-card-title>Log in</md-card-title>
      </md-card-header>
      <md-card-content>
        <md-input-container>
          <input md-input placeholder="Email address" name="email" type="email" required>
        </md-input-container>
        <md-input-container>
          <input md-input placeholder="Password" name="password" type="password" required>
        </md-input-container>
      </md-card-content>
      <md-card-content>
        <md-checkbox name="remember">Remember me?</md-checkbox>
      </md-card-content>
      <md-card-actions>
        <button md-button color="primary">Log in</button>
        <a md-button routerLink="/register">Register</a>
        <a md-button routerLink="/forgotpassword">Forgot password</a>
        <a md-button routerLink="/account">Account</a>
      </md-card-actions>
    </form>
  </md-card>
</div>
