<form>
  <md-card class="example-card">
    <md-card-header>
      <img md-card-avatar src="https://www.gravatar.com/avatar/0000saaaasfd234234000000000000?d=identicon&s=140" />
      <md-card-title>Shiba Inu</md-card-title>
      <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>
    <md-card-content>

      
        <md-input-container>
          <input md-input placeholder="Email address">
        </md-input-container>
        <md-input-container>
          <input md-input placeholder="Password" type="password">
        </md-input-container>
      

    </md-card-content>
    <md-card-actions>
      <button md-raised-button>Sign in</button>
      <a md-button routerLink="/register">Register</a>
    </md-card-actions>
  </md-card>
</form>