<div fxLayout="row" fxLayoutAlign="center center" class="container">
  <md-card *ngIf="!success">
    <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
      <md-card-header>
        <md-card-title>Forgot your password?</md-card-title>
      </md-card-header>
      <md-card-content>
        <md-input-container>
          <input md-input type="email" placeholder="Email address" [(ngModel)]="model.email" name="email" #email="ngModel" required pattern="\S+@\S+">
          <md-hint *ngIf="!email.valid && !email.pristine">You must enter a valid email address.</md-hint>
        </md-input-container>
      </md-card-content>
      <md-card-actions>
        <button md-button color="primary" [disabled]="!forgotPasswordForm.form.valid">Submit</button>
        <a md-button routerLink="/login">Back</a>
      </md-card-actions>
      <md-card-footer *ngIf="loading">
        <md-progress-bar mode="indeterminate"></md-progress-bar>
      </md-card-footer>
    </form>
  </md-card>

  <md-card *ngIf="success">
    <md-card-header>
      <md-card-title>Forgot your password confirmation</md-card-title>
    </md-card-header>
    <md-card-content>
      <p>Please check your email to reset your password.</p>
    </md-card-content>
    <md-card-actions>
      <a md-button routerLink="/login">Back</a>
    </md-card-actions>
  </md-card>
</div>
