<div fxLayout="row" fxLayoutAlign="center center" class="container">
  <md-card>
      <md-card-header>
        <img md-card-avatar src="https://www.gravatar.com/avatar/0000saaaaaaad23200000000000000?d=identicon&s=140">
        <md-card-title>Hello, username!</md-card-title>
        <md-card-subtitle>Account settings</md-card-subtitle>
        <md-menu #accountMenu="mdMenu">
          <button md-menu-item>Settings</button>
          <button md-menu-item>Help</button>
        </md-menu>
        <button md-icon-button [mdMenuTriggerFor]="accountMenu" class="account-menu">
          <md-icon>more_vert</md-icon>
        </button>
      </md-card-header>
      <md-card-content>
        <router-outlet></router-outlet>
      </md-card-content>
      <md-card-content>
        <h1>Account settings</h1>
        <ul>
          <li>Vertical ellipsis menu with avatar, just focus on functionality first, create the services and make it all work, then create the account routes
          <li>Notification preferences with slide toggle
          <li>Select language
          <li>Switch to toolbar like SO? Have little diamond icon for admins like SO
          <li>Have impersonation and administrative toolbar options, inbox, notifications, etc.
          <li>Replace all scrollbars in app w/ thin ones
        </ul>
      </md-card-content>
      <md-card-actions>
        <a md-button routerLink="/login">Back</a>
      </md-card-actions>
  </md-card>
</div>
