<div class="container">
<div class="card">
  <div class="card-header text-center">
    <img src="https://www.gravatar.com/avatar/0000saaaaaaad23200000000000000?d=identicon&s=140" style="border-radius: 50%;" />
  </div>
  <div class="card-block">
    <h4 class="card-title">Special title treatment</h4>
    <div class="card card-outline-primary mb-3 text-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a routerLink="/">Back</a>
  </div>
</div>
</div>
