:host
    position: fixed
    width: 100%
    height: 100%
    background: url(/assets/building.jpg) no-repeat center center fixed
    background-size: cover
    overflow: auto

.row, .col, .jumbotron
    min-height: 100%

.jumbotron
    float: right
    width: 100%
    max-width: 30rem
    margin-bottom: 0
    background-color: #fff
    padding-left: 4rem
    padding-right: 4rem